<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-brand">&copy; NestPoint Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <br>
      <a href="https://github.com/Manjot-git/MajorProject">© 2025 Manjot Kaur — Built as a personal full-stack project.</a>
    </div>
  </div>
</footer>
